<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>오늘도골대FC</title>
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="512x512"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR:wght@200;300;400;500;600&display=swap"
    rel="stylesheet">
  <script src="/main.js"></script>
  <script>
    function redirectTo() {
      var levelUrl = 'https://map.naver.com/p/search/<%=목적지.address%>';
      window.open(levelUrl, '_blank');
    }

  </script>
</head>

<body>
  <%- include('nav.ejs') %>
    <div class="notice-title"></div>
    <div class="home-main">
      <!-- <% if (typeof 유저 !=='undefined' && 유저) { %>
        <div style="color: white;">
          <%=유저%> 님 환영합니다.
        </div>
        <% } %> -->
      <div class="match-plan-area">
        <div onclick="redirectTo()" class="navi-button">네이버지도로 연결하기</div>
      </div>

      <div class="home-lastmatch-container">
        <div class="home-lastmatch-area">
          <div style="margin-left: 15px;">LAST MATCH
          </div>
        </div>

        <div class="home-lastmatch-matcharea">
          <img class="sharklogo"
            src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/2.%20%EC%95%84%EA%B8%B0%EC%83%81%EC%96%B4.png?updatedAt=1703502072933"
            alt="logo">
          <div>
            <div class="home-lastmatch-info">
              <div class="home-lastmatch-awayname">
                <%=result[0].awayname%>
              </div>
              <div class="home-lastmatch-date">
                23.<%=result[0].month%>.<%=result[0].day%>
              </div>
            </div>

          </div>

            <div class="home-lastmatch-score">
              <%=result[0].homescore%>-<%=result[0].awayscore%>
            </div>
            <%-result[0].home_resultlogo%>
          </div>





        <div class="home-lastmatch-matcharea">
          <img class="sharklogo"
            src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/2.%20%EC%95%84%EA%B8%B0%EC%83%81%EC%96%B4.png?updatedAt=1703502072933"
            alt="logo">
          <div>
            <div class="home-lastmatch-info">
              <div class="home-lastmatch-awayname">
                <%=result[1].awayname%>
              </div>
              <div class="home-lastmatch-date">
                23.<%=result[1].month%>.<%=result[1].day%>
              </div>
            </div>
          </div>
          <div class="home-lastmatch-score">
            <%=result[1].homescore%>-<%=result[1].awayscore%>
          </div>
          <%-result[1].home_resultlogo%>
        </div>

        <div class="home-lastmatch-matcharea">
          <img class="sharklogo"
            src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/2.%20%EC%95%84%EA%B8%B0%EC%83%81%EC%96%B4.png?updatedAt=1703502072933"
            alt="logo">
          <div>
            <div class="home-lastmatch-info">
              <div class="home-lastmatch-awayname">
                <%=result[2].awayname%>
              </div>
              <div class="home-lastmatch-date">
                23.<%=result[2].month%>.<%=result[2].day%>
              </div>
            </div>
          </div>
          <div class="home-lastmatch-score">
            <%=result[2].homescore%>-<%=result[2].awayscore%>
          </div>
          <%-result[2].home_resultlogo%>
        </div>



        <div class="mvp-container">
          <%-MVP%>
        </div>
</body>

</html>