<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light only"/>
	<meta name="supported-color-schemes" content="light"/>
  <title>오늘도골대FC</title>
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo/180x180.png?updatedAt=1707219499725">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo/180x180.png?updatedAt=1707219499725">
  <link rel="icon" type="image/png" sizes="512x512"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo/180x180.png?updatedAt=1707219499725">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet">
    <link href="/main-img.css" rel="stylesheet">
    <link href="/main-mvp.css" rel="stylesheet">
  <link href="/main-match-result.css" rel="stylesheet">
  <link href="/main-planmatch.css" rel="stylesheet">
  <link href="/main-mvpboard.css" rel="stylesheet">
  <link href="/match-result.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR:wght@200;300;400;500;600&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gloock&family=Hi+Melody&family=Noto+Sans+KR:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Hi+Melody&display=swap" rel="stylesheet">
  <script src="/main.js"></script>
  <script>
    function redirectTo() {
      var levelUrl = 'https://map.naver.com/p/search/<%=매치일정[0].address%>';
      window.open(levelUrl, '_blank');
    }

    function copyToClipboard() {
      var textarea = document.createElement('textarea');
      textarea.value = '<%=매치일정[0].address %>';
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);

      showNotification('클립보드에 복사되었습니다.');

      // 1초 후에 알림 숨기기
      setTimeout(function () {
        hideNotification();
      }, 2000);

    }

    function showNotification(message) {
      var notification = document.getElementById('notification');
      notification.textContent = message;
      notification.style.display = 'block';
    }

    function hideNotification() {
      var notification = document.getElementById('notification');
      notification.style.display = 'none';
    }



  </script>
</head>

<body>
  <%- include('nav.ejs') %>
    <div id="notification"></div>
    <div class="notice-title"></div>
    <div class="home-main">
      <!-- <% if (typeof 유저 !=='undefined' && 유저) { %>
        <div style="color: white;">
          <%=유저%> 님 환영합니다.
        </div>
        <% } %> -->
      <div class="match-plan-area">

        <div class="main-planmatch-datefont">
          24. <%=매치일정[0].month %>. <%=매치일정[0].date %> (<%=매치일정[0].day%>)
        </div>

        <div class="planmatch-result-area">
          <div class="planmatch-result-vs">
            vs
          </div>
          <div class="planmatch-result-scorebox">
            <div class="planmatch-result-teamarea1">
              <div>
                <img class="planmatch-result-scorebox-teamlogo1"
                  src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/match%20result/1.%20%EC%98%A4%EB%8A%98%EB%8F%84%EA%B3%A8%EB%8C%80%20%EB%A1%9C%EA%B3%A0.png?updatedAt=1702704522837"
                  alt="오늘도골대FC로고">
              </div>
              <div class="planmatch-result-teamfont">
                오늘도골대FC
              </div>
            </div>
            <div class="planmatch-time">
              <%=매치일정[0].time %>-<%=매치일정[0].timeto %>
            </div>
            <div class="planmatch-result-teamarea2">
              <div>
                <img class="planmatch-result-scorebox-teamlogo2"
                  src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/match%20result/%EC%83%81%EB%8C%80%ED%8C%80%20%EB%A1%9C%EA%B3%A0_%EC%83%89,%EC%82%AC%EC%9D%B4%EC%A6%88%EB%B3%80%ED%99%98.png?updatedAt=1707054939468"
                  alt="상대팀로고">
              </div>

              <div class="planmatch-result-teamfont">
                <%=매치일정[0].awayteam%>
              </div>
            </div>
          </div>

          <div class="planmatch-place">
            <img class="planmatch-place-logo"
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/1.%20%EC%9E%A5%EC%86%8C.png?updatedAt=1703600879483"
              alt="place">
            <div>
              <%=매치일정[0].place %>
            </div>
            <div onclick="copyToClipboard()" class="planmatch-place-copy" id="planmatch-place-copy">
              복사
            </div>
          </div>

        </div>

      </div>









      <div onclick="redirectTo()" class="navi-button-area">
        <img class="navi-logo"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/1.%20%EB%84%A4%EC%9D%B4%EB%B2%84%EC%A7%80%EB%8F%84.png?updatedAt=1703600879468"
          alt="naver-place-logo">
        <div class="navi-button-font">네이버지도 연결</div>
      </div>


      <div class="home-lastmatch-container">
        <div class="home-lastmatch-area">
          <div class="home-lastmatch-area-font">LAST MATCH
          </div>
        </div>

        <div class="home-lastmatch-matcharea">
          <div class="home-lastmatch-logo-area">
            <img class="sharklogo"
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/KakaoTalk_20231228_145702327_01.png?updatedAt=1703773524251"
              alt="sharklogo">
          </div>
          <div class="home-lastmatch-info-area">
            <div class="home-lastmatch-awayname">
              <%=result[0].awayname%>
            </div>
            <div class="home-lastmatch-date">
              24.<%=result[0].month%>.<%=result[0].day%>
            </div>
          </div>
          <div class="home-lastmatch-score-area">
            <div class="home-lastmatch-score">
              <%=result[0].homescore%>-<%=result[0].awayscore%>
            </div>
            <div class="home-lastmatch-result-logo-area">
              <%-result[0].home_resultlogo%>
            </div>
          </div>
        </div>


        <div class="home-lastmatch-matcharea">
          <div class="home-lastmatch-logo-area">
            <img class="sharklogo"
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/KakaoTalk_20231228_145702327_01.png?updatedAt=1703773524251"
              alt="sharklogo">
          </div>
          <div class="home-lastmatch-info-area">
            <div class="home-lastmatch-awayname">
              <%=result[1].awayname%>
            </div>
            <div class="home-lastmatch-date">
              24.<%=result[1].month%>.<%=result[1].day%>
            </div>
          </div>
          <div class="home-lastmatch-score-area">
            <div class="home-lastmatch-score">
              <%=result[1].homescore%>-<%=result[1].awayscore%>
            </div>
            <div class="home-lastmatch-result-logo-area">
              <%-result[1].home_resultlogo%>
            </div>
          </div>
        </div>


        <div class="home-lastmatch-matcharea">
          <div class="home-lastmatch-logo-area">
            <img class="sharklogo"
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/KakaoTalk_20231228_145702327_01.png?updatedAt=1703773524251"
              alt="sharklogo">
          </div>
          <div class="home-lastmatch-info-area">
            <div class="home-lastmatch-awayname">
              <%=result[2].awayname%>
            </div>
            <div class="home-lastmatch-date">
              24.<%=result[2].month%>.<%=result[2].day%>
            </div>
          </div>
          <div class="home-lastmatch-score-area">
            <div class="home-lastmatch-score">
              <%=result[2].homescore%>-<%=result[2].awayscore%>
            </div>
            <div class="home-lastmatch-result-logo-area">
              <%-result[2].home_resultlogo%>
            </div>
          </div>
        </div>


        <div class="mvp-container">
          <%-MVP%>
        </div>

        <div class="MvpBoard-Container">
          <div class="MvpBoard-title">
            MVP BOARD
          </div>
          <div class="MvpBoard-menu">
            <div style="width: 20%; text-align: center;">RANK</div>
            <div class="MvpBoard-bar"></div>
            <div style="width: 60%; text-align: center;">NAME</div>
            <div class="MvpBoard-bar"></div>
            <div style="width: 20%; text-align: center;">SCORE</div>
          </div>
          <% 
          const mvpArray=Object.entries(mvpboard); 
          mvpArray.sort((a, b)=> b[1] - a[1]);
          for (i=0; i<mvpArray.length; i++) {
          %>
              <div class="MvpBoard-area">
                <div class="MvpBoard-area-rank">
                  <%=i+1%>
                </div>
                <div class="MvpBoard-area-name">
                  <%=mvpArray[i][0]%>
                </div>
                <div class="MvpBoard-area-rank">
                  <%=mvpArray[i][1]%>
                </div>
              </div>
              <%}%>


        </div>

      </div>
</body>

</html>