<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light only" />
  <meta name="supported-color-schemes" content="light" />
  <title>오늘도골대FC</title>
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="512x512"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="/main.css" rel="stylesheet">
  <link href="/management.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR:wght@200;300;400;500;600&display=swap"
    rel="stylesheet">
  <script src="/main.js"></script>
  <script>

    function showMVP() {
      var WeeklyMVPSelect = document.getElementById("WeeklyMVPSelect");
      var selectedMVP = WeeklyMVPSelect.options[WeeklyMVPSelect.selectedIndex].text
      var month = document.getElementById("mvp-date-month").value;
      var day = document.getElementById("mvp-date-day").value;


      switch (selectedMVP) {
        case '박승룡':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EB%B0%95%EC%8A%B9%EB%A3%A1MVP.png?updatedAt=1705229239655">
          </div>`
          break
        case '오연택':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EC%98%A4%EC%97%B0%ED%83%9DMVP.png?updatedAt=1705229239093">
          </div>`
          break
        case '양철진':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div>
            <div class="mvp-area"><img
                src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EC%96%91%EC%B2%A0%EC%A7%84MVP.png?updatedAt=1705229241080">
            </div>`
          break
        case '석범수':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EC%84%9D%EB%B2%94%EC%88%98MVP.png?updatedAt=1705229367311">
          </div>`
          break
        case '장희승':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EC%9E%A5%ED%9D%AC%EC%8A%B9MVP.png?updatedAt=1705229367278">
          </div>`
          break
        case '노용준':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EB%85%B8%EC%9A%A9%EC%A4%80MVP.png?updatedAt=1705229241093">
          </div>`
          break
        case '안태훈':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EC%95%88%ED%83%9C%ED%9B%88MVP.png?updatedAt=1705229241071">
          </div>`
          break
        case '김정훈':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EA%B9%80%EC%A0%95%ED%9B%88MVP.png?updatedAt=1705229241209">
          </div>`
          break
        case '민대식':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EB%AF%BC%EB%8C%80%EC%8B%9DMVP.png?updatedAt=1707658379920">
          </div>`
          break
        case '이찬웅':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EC%9D%B4%EC%B0%AC%EC%9B%85MVP.png?updatedAt=1705229244276">
          </div>`
          break
        case '나현수':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EB%82%98%ED%98%84%EC%88%98MVP.png?updatedAt=1705229241083">
          </div>`
          break
        case '한대규':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%ED%95%9C%EB%8C%80%EA%B7%9CMVP.png?updatedAt=1705229240781">
          </div>`
          break
        case '유성진':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EC%9C%A0%EC%84%B1%EC%A7%84MVP.png?updatedAt=1707658378921">
          </div>`
          break
        default:
          break
      }


      location.href = `/mvp?val=${encodeURIComponent(selectedMVP)}&month=${encodeURIComponent(month)}&day=${encodeURIComponent(day)}`;
    }

    function navi_input() {
      var navi_address = document.getElementById('navi_address').value;
      location.href = '/navi?val=' + navi_address
      alert('저장되었습니다.')
    }

    function upload_match() {
      var month = document.getElementById("match-result-month").value;
      var day = document.getElementById("match-result-day").value;
      var day2 = document.getElementById("match-result-day2").value;
      var time = document.getElementById("match-result-time").value;
      var place = document.getElementById("match-result-place").value;
      var homescore = parseInt(document.getElementById("match-result-homescore").value, 10);
      var awayscore = parseInt(document.getElementById("match-result-awayscore").value, 10);
      var awayname = document.getElementById("match-result-awayname").value;
      var resultlogo;
      var home_resultlogo;

      if (homescore > awayscore) {
        resultlogo = `<img
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/match%20result/%EC%8A%B9%EB%A6%AC.png?updatedAt=1702704505577"
          alt="win">`
        home_resultlogo = `<img class="home-lastmatch-result-logo"
            src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/2.%20%EC%8A%B9%EB%A6%AC.png?updatedAt=1703502072480"
            alt="win">`
      } else if (homescore == awayscore) {
        resultlogo = `<img
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/match%20result/%EB%AC%B4%EC%8A%B9%EB%B6%80.png?updatedAt=1702704505369"
          alt="draw">`
        home_resultlogo = `<img class="home-lastmatch-result-logo"
            src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/KakaoTalk_20231228_145702327.png?updatedAt=1703773523870"
            alt="draw">`
      } else if (homescore < awayscore) {
        resultlogo = `<img
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/match%20result/%ED%8C%A8%EB%B0%B0.png?updatedAt=1702704505579"
          alt="lose">`
        home_resultlogo = `<img class="home-lastmatch-result-logo"
            src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/2.%20%ED%8C%A8%EB%B0%B0.png?updatedAt=1703502072486"
            alt="win">`
      }

      location.href = `/result?month=${encodeURIComponent(month)}&day=${encodeURIComponent(day)}&day2=${encodeURIComponent(day2)}&time=${encodeURIComponent(time)}&place=${encodeURIComponent(place)}&homescore=${encodeURIComponent(homescore)}&awayscore=${encodeURIComponent(awayscore)}&awayname=${encodeURIComponent(awayname)}&resultlogo=${encodeURIComponent(resultlogo)}&home_resultlogo=${encodeURIComponent(home_resultlogo)}`;

      alert("등록되었습니다.")
    }

    function registMVPBoard() {
      var num1 = document.getElementById("management-mvpboard-score1").value;
      var num2 = document.getElementById("management-mvpboard-score2").value;
      var num4 = document.getElementById("management-mvpboard-score4").value;
      var num5 = document.getElementById("management-mvpboard-score5").value;
      var num6 = document.getElementById("management-mvpboard-score6").value;
      var num7 = document.getElementById("management-mvpboard-score7").value;
      var num9 = document.getElementById("management-mvpboard-score9").value;
      var num10 = document.getElementById("management-mvpboard-score10").value;
      var num11 = document.getElementById("management-mvpboard-score11").value;
      var num14 = document.getElementById("management-mvpboard-score14").value;
      var num23 = document.getElementById("management-mvpboard-score23").value;
      var num33 = document.getElementById("management-mvpboard-score33").value;
      var num96 = document.getElementById("management-mvpboard-score96").value;


      location.href = `/mvpboard?num1=${encodeURIComponent(num1)}&num2=${encodeURIComponent(num2)}&num4=${encodeURIComponent(num4)}&num5=${encodeURIComponent(num5)}&num6=${encodeURIComponent(num6)}&num7=${encodeURIComponent(num7)}&num9=${encodeURIComponent(num9)}&num10=${encodeURIComponent(num10)}&num11=${encodeURIComponent(num11)}&num14=${encodeURIComponent(num14)}&num23=${encodeURIComponent(num23)}&num33=${encodeURIComponent(num33)}&num96=${encodeURIComponent(num96)}`;

      alert("등록되었습니다.")
    }

    function UploadYoutube() {
      // 입력된 YouTube URL 가져오기
      var fullURL = document.getElementById('inputYoutubeURL').value;

      // "v=" 이후의 부분 추출
      var videoIdStartIndex = fullURL.indexOf('v=') + 2; // 'v=' 다음부터 시작


      var videoId = fullURL.substring(videoIdStartIndex);

      // 중간에 나오는 &를 ?로 바꿔서 출력
      var modifiedVideoId = videoId.replace(/&/g, '?');

      location.href = `/UploadURL?URL=${encodeURIComponent(modifiedVideoId)}`;
    }

    function reset_ShootingGame() {
      var confirmDelete = confirm('정말 초기화하시겠습니까?');

      if (confirmDelete) {
        window.location.href = '/reset-shootinggame'
      }
    }





  </script>
</head>

<body>
  <%- include('nav.ejs') %>
    <div class="notice-title">관리</div>
    <div class="white-main">
      <div>
        <h4>공지사항 작성</h4>
        <div style="height: 100px;"><a href="/management/notice-post">공지사항 작성하기</a></div>
      </div>

      <form class="form-box" action="/match-plan" method="POST">
        <div>
          <h4>이번 주 매치</h4>
          <div>
            24년
            <input class="management-input" type="text" name="planmonth" placeholder="00">월
            <input class="management-input" type="text" name="plandate" placeholder="00">일
            <input class="management-input" type="text" name="planday" value="금">요일
            <br>
            시간 : <input class="management-input2" name="plantime" type="text" placeholder="00:00"> - <input
              class="management-input2" name="plantimeto" type="text" placeholder="00:00">
            <br>
            상대팀명 : <input class="management-input3" type="text" name="planawayteam" placeholder="상대팀명">
            <br>
            장소 : <input class="management-input3" type="text" name="planplace" placeholder="풋살구장 이름">
          </div>
        </div>
        <div>
          <div style="height: 160px;">
            주소 : <input id="navi_address" style="width: 200px;" name="planaddress" type="text" placeholder="주소">
            <div>현재 저장된 주소 : <%=매치일정[0].address%>
            </div>
            <button type="submit">등록</button>
          </div>
        </div>
      </form>



      <div>
        <h4>MVP</h4>
        <div style="height: 150px;">
          <input class="mvp-date" type="text" id="mvp-date-month" value="<%=매치일정[0].month %>">월
          <input class="mvp-date" type="text" id="mvp-date-day" value="<%=매치일정[0].date %>">일
          <div>
            <select class="form-select" id="WeeklyMVPSelect">
              <option value="박승룡">박승룡</option>
              <option value="오연택">오연택</option>
              <option value="양철진">양철진</option>
              <option value="석범수">석범수</option>
              <option value="장희승">장희승</option>
              <option value="노용준">노용준</option>
              <option value="안태훈">안태훈</option>
              <option value="김정훈">김정훈</option>
              <option value="민대식">민대식</option>
              <option value="이찬웅">이찬웅</option>
              <option value="나현수">나현수</option>
              <option value="한대규">한대규</option>
              <option value="유성진">유성진</option>
            </select>
            <button onclick="showMVP()">선정</button>
          </div>
        </div>
      </div>
      <div>
        <h4>경기결과</h4>
        <div style="height: 250px;">
          <div>
            24년
            <input class="management-input" type="text" id="match-result-month" value="<%=매치일정[0].month %>">월
            <input class="management-input" type="text" id="match-result-day" value="<%=매치일정[0].date %>">일
            <input class="management-input" type="text" id="match-result-day2" value="<%=매치일정[0].day %>">요일
            <br>
            시작시간 : <input class="management-input2" type="text" id="match-result-time" value="<%=매치일정[0].time %>">
            <br>
            장소 : <input class="management-input3" type="text" id="match-result-place" value="<%=매치일정[0].place %>">
            <br>
            오늘도골대
            <input class="management-input2" type="text" id="match-result-homescore" placeholder="오골 점수"> :
            <input class="management-input2" type="text" id="match-result-awayscore" placeholder="상대 점수">
            <input class="management-input3" type="text" id="match-result-awayname" value="<%=매치일정[0].awayteam %>">
          </div>
          <div>
            <button onclick="upload_match()">등록</button>
          </div>
        </div>
      </div>

      <div>
        <h4>MVP BOARD</h4>
        <div style="display: flex;">
          <div class="management-mvpboard-num">1</div>
          <div id="management-mvpboard-name1" style="margin-left: 10px;">박승룡</div>
          <div>
            <input id="management-mvpboard-score1" style="margin-left: 10px;" class="management-input" type="text"
              value="<%=Object.values(mvpboard)[0]%>">
          </div>
        </div>
        <div style="display: flex;">
          <div class="management-mvpboard-num">2</div>
          <div id="management-mvpboard-name2" style="margin-left: 10px;">오연택</div>
          <div>
            <input id="management-mvpboard-score2" style="margin-left: 10px;" class="management-input" type="text"
              value="<%=Object.values(mvpboard)[1]%>">
          </div>
        </div>
        <div style="display: flex;">
          <div class="management-mvpboard-num">4</div>
          <div id="management-mvpboard-name4" style="margin-left: 10px;">양철진</div>
          <div>
            <input id="management-mvpboard-score4" style="margin-left: 10px;" class="management-input" type="text"
              value="<%=Object.values(mvpboard)[2]%>">
          </div>
        </div>
        <div style="display: flex;">
          <div class="management-mvpboard-num">5</div>
          <div id="management-mvpboard-name5" style="margin-left: 10px;">석범수</div>
          <div>
            <input id="management-mvpboard-score5" style="margin-left: 10px;" class="management-input" type="text"
              value="<%=Object.values(mvpboard)[3]%>">
          </div>
        </div>
        <div style="display: flex;">
          <div class="management-mvpboard-num">6</div>
          <div id="management-mvpboard-name6" style="margin-left: 10px;">장희승</div>
          <div>
            <input id="management-mvpboard-score6" style="margin-left: 10px;" class="management-input" type="text"
              value="<%=Object.values(mvpboard)[4]%>">
          </div>
        </div>
        <div style="display: flex;">
          <div class="management-mvpboard-num">7</div>
          <div id="management-mvpboard-name7" style="margin-left: 10px;">노용준</div>
          <div>
            <input id="management-mvpboard-score7" style="margin-left: 10px;" class="management-input" type="text"
              value="<%=Object.values(mvpboard)[5]%>">
          </div>
        </div>
        <div style="display: flex;">
          <div class="management-mvpboard-num">9</div>
          <div id="management-mvpboard-name9" style="margin-left: 10px;">안태훈</div>
          <div>
            <input id="management-mvpboard-score9" style="margin-left: 10px;" class="management-input" type="text"
              value="<%=Object.values(mvpboard)[6]%>">
          </div>
        </div>
        <div style="display: flex;">
          <div class="management-mvpboard-num">10</div>
          <div id="management-mvpboard-name10" style="margin-left: 10px;">김정훈</div>
          <div>
            <input id="management-mvpboard-score10" style="margin-left: 10px;" class="management-input" type="text"
              value="<%=Object.values(mvpboard)[7]%>">
          </div>
        </div>
        <div style="display: flex;">
          <div class="management-mvpboard-num">11</div>
          <div id="management-mvpboard-name11" style="margin-left: 10px;">민대식</div>
          <div>
            <input id="management-mvpboard-score11" style="margin-left: 10px;" class="management-input" type="text"
              value="<%=Object.values(mvpboard)[8]%>">
          </div>
        </div>
        <div style="display: flex;">
          <div class="management-mvpboard-num">14</div>
          <div id="management-mvpboard-name14" style="margin-left: 10px;">이찬웅</div>
          <div>
            <input id="management-mvpboard-score14" style="margin-left: 10px;" class="management-input" type="text"
              value="<%=Object.values(mvpboard)[9]%>">
          </div>
        </div>
        <div style="display: flex;">
          <div class="management-mvpboard-num">23</div>
          <div id="management-mvpboard-name23" style="margin-left: 10px;">나현수</div>
          <div>
            <input id="management-mvpboard-score23" style="margin-left: 10px;" class="management-input" type="text"
              value="<%=Object.values(mvpboard)[10]%>">
          </div>
        </div>
        <div style="display: flex;">
          <div class="management-mvpboard-num">33</div>
          <div id="management-mvpboard-name33" style="margin-left: 10px;">한대규</div>
          <div>
            <input id="management-mvpboard-score33" style="margin-left: 10px;" class="management-input" type="text"
              value="<%=Object.values(mvpboard)[11]%>">
          </div>
        </div>
        <div style="display: flex;">
          <div class="management-mvpboard-num">96</div>
          <div id="management-mvpboard-name96" style="margin-left: 10px;">유성진</div>
          <div>
            <input id="management-mvpboard-score96" style="margin-left: 10px;" class="management-input" type="text"
              value="<%=Object.values(mvpboard)[12]%>">
          </div>
        </div>

        <button onclick="registMVPBoard()" style="margin-bottom: 100px;">변경</button>


      </div>


      <div style="padding-bottom: 100px;">
        <h4>동영상 업로드</h4>
        <div> youtube 영상 링크 입력</div>
        <input id="inputYoutubeURL" type="text">
        <button onclick="UploadYoutube()">등록</button>
      </div>

      <% if (typeof 유저 !=='undefined' ) { %>
        <% if (유저.username=='한대규' ) { %>
          <div style="padding-bottom: 50px;"></div>
          <h4>승부차기 초기화</h4>
          <button onclick="reset_ShootingGame()">초기화</button>

          <%}%>
            <%}%>


    </div>
</body>

</html>