<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light only" />
  <meta name="supported-color-schemes" content="light" />
  <title>오늘도골대FC</title>
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="512x512"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="/main.css" rel="stylesheet">
  <link href="/management.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR:wght@200;300;400;500;600&display=swap"
    rel="stylesheet">
  <script src="/main.js"></script>
  <script>

    function showMVP() {
      var WeeklyMVPSelect = document.getElementById("WeeklyMVPSelect");
      var selectedMVP = WeeklyMVPSelect.options[WeeklyMVPSelect.selectedIndex].text
      var month = document.getElementById("mvp-date-month").value;
      var day = document.getElementById("mvp-date-day").value;
      var MVP_Name;


      switch (selectedMVP) {
        case '박승룡':
          var MVP_Name = '박승룡'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/KakaoTalk_20240507_175656083_02.png?updatedAt=1715401360961">
          </div>`
          break
        case '오연택':
          var MVP_Name = '오연택'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/KakaoTalk_20240611_002314862.png?updatedAt=1718033243805">
          </div>`
          break
        case '양철진':
          var MVP_Name = '양철진'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div>
            <div class="mvp-area"><img
                src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EC%96%91%EC%B2%A0%EC%A7%84MVP.png?updatedAt=1705229241080">
            </div>`
          break
        case '석범수':
          var MVP_Name = '석범수'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EC%84%9D%EB%B2%94%EC%88%98MVP.png?updatedAt=1705229367311">
          </div>`
          break
        case '장희승':
          var MVP_Name = '장희승'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EC%9E%A5%ED%9D%AC%EC%8A%B9MVP.png?updatedAt=1705229367278">
          </div>`
          break
        case '노용준':
          var MVP_Name = '노용준'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EB%85%B8%EC%9A%A9%EC%A4%80MVP.png?updatedAt=1705229241093">
          </div>`
          break
        case '안태훈':
          var MVP_Name = '안태훈'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EC%95%88%ED%83%9C%ED%9B%88MVP.png?updatedAt=1705229241071">
          </div>`
          break
        case '김정훈':
          var MVP_Name = '김정훈'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EA%B9%80%EC%A0%95%ED%9B%88MVP.png?updatedAt=1705229241209">
          </div>`
          break
        case '민대식':
          var MVP_Name = '민대식'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/KakaoTalk_20240507_175656083_03.png?updatedAt=1715401360873">
          </div>`
          break
          case '송시창':
          var MVP_Name = '송시창'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/KakaoTalk_20241217_105525234.png?updatedAt=1734400631049">
          </div>`
          break
        case '이찬웅':
          var MVP_Name = '이찬웅'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EC%9D%B4%EC%B0%AC%EC%9B%85MVP.png?updatedAt=1705229244276">
          </div>`
          break
        case '나현수':
          var MVP_Name = '나현수'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%EB%82%98%ED%98%84%EC%88%98MVP.png?updatedAt=1705229241083">
          </div>`
          break
        case '한대규':
          var MVP_Name = '한대규'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/%ED%95%9C%EB%8C%80%EA%B7%9CMVP.png?updatedAt=1705229240781">
          </div>`
          break
        case '유성진':
          var MVP_Name = '유성진'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/KakaoTalk_20240611_002314862_02.png?updatedAt=1718033243449">
          </div>`
          break
        case '황덕현':
          var MVP_Name = '황덕현'
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/mvp/KakaoTalk_20240611_002314862_01.png?updatedAt=1718033243911">
          </div>`
          break
        default:
          break
      }


      location.href = `/mvp?val=${encodeURIComponent(selectedMVP)}&month=${encodeURIComponent(month)}&day=${encodeURIComponent(day)}&MVP_Name=${encodeURIComponent(MVP_Name)}`;
    }

    function navi_input() {
      var navi_address = document.getElementById('navi_address').value;
      location.href = '/navi?val=' + navi_address
      alert('저장되었습니다.')
    }

    function upload_match() {
      var year = document.getElementById("match-result-year").value;
      var month = document.getElementById("match-result-month").value;
      var day = document.getElementById("match-result-day").value;
      var day2 = document.getElementById("match-result-day2").value;
      var time = document.getElementById("match-result-time").value;
      var place = document.getElementById("match-result-place").value;
      var homescore = parseInt(document.getElementById("match-result-homescore").value, 10);
      var awayscore = parseInt(document.getElementById("match-result-awayscore").value, 10);
      var awayname = document.getElementById("match-result-awayname").value;
      var resultlogo;
      var home_resultlogo;

      if (homescore > awayscore) {
        resultlogo = `<img
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/match%20result/%EC%8A%B9%EB%A6%AC.png?updatedAt=1702704505577"
          alt="win">`
        home_resultlogo = `<img class="home-lastmatch-result-logo"
            src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/2.%20%EC%8A%B9%EB%A6%AC.png?updatedAt=1703502072480"
            alt="win">`
      } else if (homescore == awayscore) {
        resultlogo = `<img
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/match%20result/%EB%AC%B4%EC%8A%B9%EB%B6%80.png?updatedAt=1702704505369"
          alt="draw">`
        home_resultlogo = `<img class="home-lastmatch-result-logo"
            src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/KakaoTalk_20231228_145702327.png?updatedAt=1703773523870"
            alt="draw">`
      } else if (homescore < awayscore) {
        resultlogo = `<img
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/match%20result/%ED%8C%A8%EB%B0%B0.png?updatedAt=1702704505579"
          alt="lose">`
        home_resultlogo = `<img class="home-lastmatch-result-logo"
            src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/2.%20%ED%8C%A8%EB%B0%B0.png?updatedAt=1703502072486"
            alt="win">`
      }

      location.href = `/result?year=${encodeURIComponent(year)}&month=${encodeURIComponent(month)}&day=${encodeURIComponent(day)}&day2=${encodeURIComponent(day2)}&time=${encodeURIComponent(time)}&place=${encodeURIComponent(place)}&homescore=${encodeURIComponent(homescore)}&awayscore=${encodeURIComponent(awayscore)}&awayname=${encodeURIComponent(awayname)}&resultlogo=${encodeURIComponent(resultlogo)}&home_resultlogo=${encodeURIComponent(home_resultlogo)}`;

      alert("등록되었습니다.")
    }

    function registMVPBoard() {
      var num1 = document.getElementById("management-mvpboard-score1").value;
      var num2 = document.getElementById("management-mvpboard-score2").value;
      var num4 = document.getElementById("management-mvpboard-score4").value;
      var num5 = document.getElementById("management-mvpboard-score5").value;
      var num6 = document.getElementById("management-mvpboard-score6").value;
      var num7 = document.getElementById("management-mvpboard-score7").value;
      var num9 = document.getElementById("management-mvpboard-score9").value;
      var num10 = document.getElementById("management-mvpboard-score10").value;
      var num11 = document.getElementById("management-mvpboard-score11").value;
      var num14 = document.getElementById("management-mvpboard-score14").value;
      var num23 = document.getElementById("management-mvpboard-score23").value;
      var num33 = document.getElementById("management-mvpboard-score33").value;
      var num96 = document.getElementById("management-mvpboard-score96").value;
      var num99 = document.getElementById("management-mvpboard-score99").value;


      location.href = `/mvpboard?num1=${encodeURIComponent(num1)}&num2=${encodeURIComponent(num2)}&num4=${encodeURIComponent(num4)}&num5=${encodeURIComponent(num5)}&num6=${encodeURIComponent(num6)}&num7=${encodeURIComponent(num7)}&num9=${encodeURIComponent(num9)}&num10=${encodeURIComponent(num10)}&num11=${encodeURIComponent(num11)}&num14=${encodeURIComponent(num14)}&num23=${encodeURIComponent(num23)}&num33=${encodeURIComponent(num33)}&num96=${encodeURIComponent(num96)}&num99=${encodeURIComponent(num99)}`;

      alert("등록되었습니다.")
    }

    function UploadYoutube() {
  var fullURL = document.getElementById('inputYoutubeURL').value;
  var videoId;

  if (fullURL.startsWith('https://www.youtube.com/watch?v=')) {
    var videoIdStartIndex = fullURL.indexOf('v=') + 2;
    videoId = fullURL.substring(videoIdStartIndex);
  } else if (fullURL.startsWith('https://youtu.be/')) {
    var videoIdStartIndex = fullURL.indexOf('.be/') + 4;
    var videoIdEndIndex = fullURL.indexOf('?') !== -1 ? fullURL.indexOf('?') : fullURL.length;
    videoId = fullURL.substring(videoIdStartIndex, videoIdEndIndex);
  }

  var modifiedVideoId = videoId.replace(/&/g, '?');
  location.href = `/UploadURL?URL=${encodeURIComponent(modifiedVideoId)}`;
}


    function reset_ShootingGame() {
      var confirmDelete = confirm('정말 초기화하시겠습니까?');

      if (confirmDelete) {
        window.location.href = '/reset-shootinggame'
      }
    }

    function ChrStat() {
      var userID = document.getElementById("chr-userID").value;
      var chr1 = document.getElementById("chr-choose1").value;
      var chr2 = document.getElementById("chr-choose2").value;
      var chr3 = document.getElementById("chr-choose3").value;
      var chr4 = document.getElementById("chr-choose4").value;
      var chr = [chr1, chr2, chr3, chr4]


      location.href = `/ChrStat?userID=${encodeURIComponent(userID)}&chr=${encodeURIComponent(chr)}`;
    }





  </script>
</head>

<body>
  <%- include('nav.ejs') %>
    <div class="notice-title">관리</div>
    <div class="white-main">
      <div class="management-container" style="margin-bottom: 50px;">
        <h4>공지사항 작성</h4>
        <button onclick="gotoNoticePost()" class="btn btn-primary">작성하기</button>

      </div>

      <% if (typeof 유저 !=='undefined' ) { %>
        <% if (유저.username == '한대규'||유저.username == '관리자'||유저.username == '양철진'||유저.username == '안태훈'||유저.username == '김정훈') {%>




      <form class="form-box" action="/match-plan" method="POST">
        <div class="management-container">
          <h4>이번 주 매치</h4>
          <div>
            <input class="management-input" type="text" name="planyear" value="<%=매치일정[0].year %>">년
            <input class="management-input" type="text" name="planmonth" value="<%=매치일정[0].month %>">월
            <input class="management-input" type="text" name="plandate" placeholder="00">일
            <input class="management-input" type="text" name="planday" value="금">요일
            <br>
            시간 : <input class="management-input2" name="plantime" type="text" placeholder="00:00"> - <input
              class="management-input2" name="plantimeto" type="text" placeholder="00:00">
            <br>
            상대팀명 : <input class="management-input3" type="text" name="planawayteam" placeholder="상대팀명">
            <br>
            장소 : <input class="management-input3" type="text" name="planplace" placeholder="풋살구장 이름">
          </div>
        </div>
        <div class="management-container">
          <div style="height: 160px;">
            주소 : <input id="navi_address" style="width: 200px;" name="planaddress" type="text" placeholder="주소">
            <div>현재 저장된 주소 : <%=매치일정[0].address%>
            </div>
            <button class="btn btn-primary" type="submit">등록</button>
          </div>
        </div>
      </form>



      <div class="management-container">
        <h4>MVP</h4>
        <div style="height: 150px;">
          <input class="mvp-date" type="text" id="mvp-date-month" value="<%=매치일정[0].month %>">월
          <input class="mvp-date" type="text" id="mvp-date-day" value="<%=매치일정[0].date %>">일
          <div>
            <select class="form-select" id="WeeklyMVPSelect">
              <option value="박승룡">박승룡</option>
              <option value="오연택">오연택</option>
              <option value="양철진">양철진</option>
              <option value="석범수">석범수</option>
              <option value="장희승">장희승</option>
              <option value="노용준">노용준</option>
              <option value="안태훈">안태훈</option>
              <option value="김정훈">김정훈</option>
              <option value="민대식">민대식</option>
              <option value="송시창">송시창</option>
              <option value="이찬웅">이찬웅</option>
              <option value="나현수">나현수</option>
              <option value="한대규">한대규</option>
              <option value="유성진">유성진</option>
              <option value="황덕현">황덕현</option>
            </select>
            <button class="btn btn-primary" onclick="showMVP()">선정</button>
          </div>
        </div>
      </div>

      
      <div class="management-container">
        <h4>경기결과</h4>
        <div style="height: 250px;">
          <div>
            <input class="management-input" type="text" id="match-result-year" value="<%=매치일정[0].year %>">년
            <input class="management-input" type="text" id="match-result-month" value="<%=매치일정[0].month %>">월
            <input class="management-input" type="text" id="match-result-day" value="<%=매치일정[0].date %>">일
            <input class="management-input" type="text" id="match-result-day2" value="<%=매치일정[0].day %>">요일
            <br>
            시작시간 : <input class="management-input2" type="text" id="match-result-time" value="<%=매치일정[0].time %>">
            <br>
            장소 : <input class="management-input3" type="text" id="match-result-place" value="<%=매치일정[0].place %>">
            <br>
            오늘도골대
            <input class="management-input2" type="text" id="match-result-homescore" placeholder="오골 점수"> :
            <input class="management-input2" type="text" id="match-result-awayscore" placeholder="상대 점수">
            <input class="management-input3" type="text" id="match-result-awayname" value="<%=매치일정[0].awayteam %>">
          </div>
          <div>
            <button class="btn btn-primary" onclick="upload_match()">등록</button>
          </div>
        </div>
      </div>


      <table class="table" style="margin-top: 50px;">
        <thead>
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>박승룡</td>
            <td><input id="management-mvpboard-score1" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[0]%>"></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>오연택</td>
            <td><input id="management-mvpboard-score2" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[1]%>"></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>양철진</td>
            <td><input id="management-mvpboard-score4" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[2]%>"></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>석범수</td>
            <td><input id="management-mvpboard-score5" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[3]%>"></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>장희승</td>
            <td><input id="management-mvpboard-score6" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[4]%>"></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>노용준</td>
            <td><input id="management-mvpboard-score7" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[5]%>"></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>안태훈</td>
            <td><input id="management-mvpboard-score9" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[6]%>"></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>김정훈</td>
            <td><input id="management-mvpboard-score10" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[7]%>"></td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>민대식</td>
            <td><input id="management-mvpboard-score11" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[8]%>"></td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>송시창</td>
            <td><input id="management-mvpboard-score13" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[9]%>"></td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td>이찬웅</td>
            <td><input id="management-mvpboard-score14" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[10]%>"></td>
          </tr>
          <tr>
            <th scope="row">23</th>
            <td>나현수</td>
            <td><input id="management-mvpboard-score23" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[11]%>"></td>
          </tr>
          <tr>
            <th scope="row">33</th>
            <td>한대규</td>
            <td><input id="management-mvpboard-score33" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[12]%>"></td>
          </tr>
          <tr>
            <th scope="row">96</th>
            <td>유성진</td>
            <td><input id="management-mvpboard-score96" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[13]%>"></td>
          </tr>
          <tr>
            <th scope="row">99</th>
            <td>황덕현</td>
            <td><input id="management-mvpboard-score99" style="margin-left: 10px;" class="management-input" type="text"
                value="<%=Object.values(mvpboard)[14]%>"></td>
          </tr>
        </tbody>
      </table>

      <div class="management-container">
        <button class="btn btn-primary" onclick="registMVPBoard()" style="margin-bottom: 100px;">변경</button>
      </div>
      <%}%>
      <%}%>

      <% if (typeof 유저 !=='undefined' ) { %>
        <% if (유저.username=='한대규'||유저.username == '석범수'  ) { %>

      <div class="management-container">
        <h4>선수 특성 부여</h4>
        <select class="form-select" id="chr-userID">
          <option value="박승룡">박승룡</option>
              <option value="oyt001">오연택</option>
              <option value="cjfwls34">양철진</option>
              <option value="tjrqjatn97">석범수</option>
              <option value="qkrwjd24568">장희승</option>
              <option value="saaq45">노용준</option>
              <option value="taehoon9908">안태훈</option>
              <option value="rere4581">김정훈</option>
              <option value="als123eotlr">민대식</option>
              <option value="sst266">송시창</option>
              <option value="chw7244">이찬웅</option>
              <option value="hsn972">나현수</option>
              <option value="bigstarhan33">한대규</option>
              <option value="yusjin96">유성진</option>
              <option value="ks9071">황덕현</option>
        </select>
        <div>


          <% for (i=1; i<5 ; i++) {%>
            <select class="form-select" id="chr-choose<%=i%>">
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EB%8C%80%EC%9D%B8%EC%88%98%EB%B9%84.png?updatedAt=1718522627702">대인수비</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EB%91%90%EA%B0%9C%EC%9D%98%20%EC%8B%AC%EC%9E%A5.png?updatedAt=1718522627526">두개의 심장</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EB%A1%9C%EB%B9%99%20%ED%8C%A8%EC%8A%A4.png?updatedAt=1718522627590">로빙 패스</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EB%B8%8C%EB%A3%A8%EC%A0%80.png?updatedAt=1718522671792">브루저</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EC%82%AC%EC%9D%B4%EB%A0%8C.png?updatedAt=1718522630806">사이렌</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EC%8A%A4%ED%94%BC%EB%93%9C%20%EB%93%9C%EB%A6%AC%EB%B8%94%EB%9F%AC.png?updatedAt=1718522655404">스피드 드리블러</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EC%95%84%EC%9B%83%EC%82%AC%EC%9D%B4%EB%93%9C%20%EB%8A%A5%EC%88%99.png?updatedAt=1718522671741">아웃사이드 능숙</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EC%95%84%ED%81%AC%EB%A1%9C%EB%B0%94%ED%8B%B1.png?updatedAt=1718522631142">아크로바틱</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EC%9A%B0%EC%B8%A1%20%ED%8C%8C%EA%B4%B4%EC%9E%90.png?updatedAt=1718522630948">우측 파괴자</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EC%9C%A0%EB%A6%AC%EB%AA%B8.png?updatedAt=1718522630939">유리몸</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EC%9D%B8%ED%84%B0%EC%85%89%ED%8A%B8.png?updatedAt=1718522671914">인터셉트</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EC%A3%BC%EB%B0%9C%20%EC%84%A0%ED%98%B8.png?updatedAt=1718522634178">주발 선호</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EC%B9%A8%EC%B0%A9%ED%95%9C%20%EB%B3%BC%20%EC%86%8C%EC%9C%A0.png?updatedAt=1718522634240">침착한 볼 소유</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EC%B9%A9%EC%8A%9B%20%EC%84%A0%ED%98%B8.png?updatedAt=1718522634402">칩슛 선호</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%ED%85%8C%ED%81%AC%EB%8B%88%EC%BB%AC.png?updatedAt=1718522671874">테크니컬</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%ED%8B%B0%ED%82%A4%ED%83%80%EC%B9%B4.png?updatedAt=1718522627566">티키 타카</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%ED%8C%8C%EC%9A%B8%20%EC%9C%A0%EB%8F%84.png?updatedAt=1718624343593">파울 유도 선호</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%ED%8C%8C%EC%9B%8C%EC%8A%9B.png?updatedAt=1718522627486">파워 슛</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%ED%8C%A8%EC%8A%A4%EB%A7%88%EC%8A%A4%ED%84%B0.png?updatedAt=1718522671939">패스마스터</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%ED%8D%BC%EC%8A%A4%ED%8A%B8%20%ED%84%B0%EC%B9%98.png?updatedAt=1718522627697">퍼스트 터치</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%ED%94%8C%EB%A0%88%EC%9D%B4%EB%A9%94%EC%9D%B4%EC%BB%A4.png?updatedAt=1718522671798">플레이메이커</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%ED%94%BC%EB%84%A4%EC%8A%A4%20%EC%83%B7.png?updatedAt=1718522671815">피네스 샷</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EC%B9%A8%EC%B0%A9%ED%95%9C%201%EB%8C%801%20%EC%88%98%EB%B9%84.png?updatedAt=1718624872542">GK 침착한 1:1 수비</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/%EC%A0%81%EA%B7%B9%EC%A0%81%20%EB%8B%A4%EC%9D%B4%EB%B9%99.png?updatedAt=1718624872571">GK 적극적 다이빙</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/GK%20%EB%A9%80%EB%A6%AC%20%EB%8D%98%EC%A7%80%EA%B8%B0.png?updatedAt=1718624872517">GK 멀리 던지기</option>
              <option value="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/GK%20%EB%8A%A5%EC%88%99%ED%95%9C%20%ED%8E%80%EC%B9%AD.png?updatedAt=1718624872505">GK 능숙한 펀칭</option>

            </select>
            <%}%>
          <button class="btn btn-primary" onclick="ChrStat()">등록</button>
        </div>

      </div>
      <%}%>
      <%}%>

      <% if (typeof 유저 !=='undefined' ) { %>
        <% if (유저.username=='한대규'||유저.username == '김정훈'  ) { %>
      <div style="padding-top: 100px; padding-bottom: 100px;" class="management-container">
        <h4>동영상 업로드</h4>
        <div> youtube 영상 링크 입력</div>
        <input id="inputYoutubeURL" type="text">
        <button class="btn btn-primary" onclick="UploadYoutube()">등록</button>
      </div>
      <%}%>
      <%}%>

      <% if (typeof 유저 !=='undefined' ) { %>
        <% if (유저.username=='한대규' ) { %>
          <div class="management-container" style="padding-bottom: 50px;">
            <h4>승부차기 초기화</h4>
            <button class="btn btn-primary" onclick="reset_ShootingGame()">초기화</button>
            <div style="padding-bottom: 50px;"></div>
          </div>
          <div class="management-container">
            <h4>업데이트공지 작성</h4>
            <button onclick="gotoUpdatePost()" class="btn btn-primary">작성하기</button>
          </div>





              <h1>Average Stats Result</h1>
              <ul>
                  <li>킥파워: <%= avgStatsResult.avg_stat1.toFixed(1) %></li>
                  <li>킥정확도: <%= avgStatsResult.avg_stat3.toFixed(1) %></li>
                  <li>원터치: <%= avgStatsResult.avg_stat5.toFixed(1) %></li>
                  <hr>      
                  <li>밸런스: <%= avgStatsResult.avg_stat2.toFixed(1) %></li>
                  <li>체력: <%= avgStatsResult.avg_stat4.toFixed(1) %></li>
                  <li>속도: <%= avgStatsResult.avg_stat6.toFixed(1) %></li>    
                  <li>민첩성: <%= avgStatsResult.avg_stat7.toFixed(1) %></li>  
                  <hr>
                  <li>돌파력: <%= avgStatsResult.avg_stat8.toFixed(1) %></li>
                  <li>드리블속도: <%= avgStatsResult.avg_stat10.toFixed(1) %></li>
                  <li>컨트롤: <%= avgStatsResult.avg_stat12.toFixed(1) %></li>    
                  <li>볼키핑: <%= avgStatsResult.avg_stat14.toFixed(1) %></li>  
                  <hr>
                  <li>시야: <%= avgStatsResult.avg_stat9.toFixed(1) %></li>
                  <li>위치선정: <%= avgStatsResult.avg_stat11.toFixed(1) %></li>
                  <li>판단력: <%= avgStatsResult.avg_stat13.toFixed(1) %></li>    
                  <li>적극성: <%= avgStatsResult.avg_stat15.toFixed(1) %></li>  
                  <hr>
                  <li>대인방어: <%= avgStatsResult.avg_stat16.toFixed(1) %></li>
                  <li>커버력: <%= avgStatsResult.avg_stat17.toFixed(1) %></li>
                  <li>태클: <%= avgStatsResult.avg_stat18.toFixed(1) %></li>    


              </ul>
              <%}%>
              <%}%>
    </div>

</body>

</html>