<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light only" />
  <meta name="supported-color-schemes" content="light" />
  <title>오늘도골대FC</title>
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="512x512"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link href="/main.css" rel="stylesheet">
  <link href="/match-result.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR:wght@200;300;400;500;600&display=swap"
    rel="stylesheet">
  <script src="/main.js"></script>

  <script>
    function confirmDeleteResult(event) {
      event.preventDefault();

      var commentId = event.target.getAttribute('data-result-id');
      var confirmDelete = confirm('글을 삭제하시겠습니까?');

      if (confirmDelete) {
        window.location.href = '/match-result-delete/' + commentId;
      }
    }

    function confirmDeleteLastResult(event) {
      event.preventDefault();

      var commentId = event.target.getAttribute('data-last-result-id');
      var confirmDelete = confirm('글을 삭제하시겠습니까?');

      if (confirmDelete) {
        window.location.href = '/match-result-delete/' + commentId;
      }
    }

  </script>

</head>

<body>
  <%- include('nav.ejs') %>
    <div class="notice-title">경기결과</div>
    <div class="match-result-lastmatch">

      <div class="match-result-lastmatch-font">
        LAST MATCH
      </div>
      <div class="lastmatch-result-resultlogo ">
        <%-result[0].resultlogo%>
      </div>

      <div class="lastmatch-result-area">
        <div class="lastmatch-result-info">
          <span>
            <%=result[0].place%>
          </span>
        </div>
        <div class="lastmatch-result-scorebox">
          <div class="lastmatch-result-teamarea1">
            <div>
              <img class="lastmatch-result-scorebox-teamlogo1"
                src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/match%20result/1.%20%EC%98%A4%EB%8A%98%EB%8F%84%EA%B3%A8%EB%8C%80%20%EB%A1%9C%EA%B3%A0.png?updatedAt=1702704522837"
                alt="오늘도골대FC로고">
            </div>
            <div class="lastmatch-result-teamfont">
              오늘도골대FC
            </div>
          </div>


          <div class="lastmatch-result-score">
            <%=result[0].homescore%> - <%=result[0].awayscore%>
          </div>
          <div class="lastmatch-result-teamarea2">
            <div>
              <img class="lastmatch-result-scorebox-teamlogo2"
                src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo/%EC%83%81%EB%8C%80%ED%8C%80%20%EB%A1%9C%EA%B3%A0_%EC%83%89,%EC%82%AC%EC%9D%B4%EC%A6%88%EB%B3%80%ED%99%98.png?updatedAt=1707219500095"
                alt="상대팀로고">
            </div>

            <div class="lastmatch-result-teamfont">
              <%=result[0].awayname%>
            </div>
          </div>
        </div>

        <div class="lastmatch-result-time">
          <%=result[0].year%>.<%=result[0].month%>.<%=result[0].day%>, <%=result[0].day2%>요일, <%=result[0].time%>
        </div>
        <% if (typeof 유저 !=='undefined' ) { %>
          <% if (유저.username=='관리자' ) { %>
            <div class="match-result-delete">
              <a href="#" data-last-result-id="<%=result[0]._id%>" onclick="confirmDeleteLastResult(event)">삭제</a>
            </div>
            <%}}%>

      </div>

    </div>







    <div class="match-result-main">
      <div class="match-result-empty"></div>
      <div class="match-result-line"></div>

      <% for (let i=1; i<result.length; i++ ){ %>
        <div class="match-result-area">
          <div class="match-result-info">
            <span><%=result[i].year%>.<%=result[i].month%>.<%=result[i].day%>(<%=result[i].day2%>) <%=result[i].time%> |</span>
            <span>
              <%=result[i].place%>
            </span>
          </div>
          <div class="match-result-scorebox">
            <div class="match-result-teamarea1">
              <div class="match-result-teamfont">
                오늘도골대FC
              </div>
              <div>
                <img class="match-result-scorebox-teamlogo1"
                  src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/match%20result/1.%20%EC%98%A4%EB%8A%98%EB%8F%84%EA%B3%A8%EB%8C%80%20%EB%A1%9C%EA%B3%A0.png?updatedAt=1702704522837"
                  alt="오늘도골대FC로고">
              </div>
            </div>


            <div class="match-result-score" style="width: 20%;">
              <%=result[i].homescore%> : <%=result[i].awayscore%>
            </div>
            <div class="match-result-teamarea2">
              <div>
                <img class="match-result-scorebox-teamlogo2"
                  src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo/%EC%83%81%EB%8C%80%ED%8C%80%20%EB%A1%9C%EA%B3%A0_%EC%83%89,%EC%82%AC%EC%9D%B4%EC%A6%88%EB%B3%80%ED%99%98.png?updatedAt=1707219500095"
                  alt="상대팀로고">
              </div>

              <div class="match-result-teamfont">
                <%=result[i].awayname%>
              </div>
            </div>
          </div>


          <div class="match-result-resultlogo match-result-tooltip">
            <%-result[i].resultlogo%>
            <div class="match-result-tooltip-content">
              <%=result[i].mvp_name%>
            </div>
          </div>
          


          <% if (typeof 유저 !=='undefined' ) { %>
            <% if (유저.username=='관리자' ) { %>
              <div class="match-result-delete">
                <a href="#" data-result-id="<%=result[i]._id%>" onclick="confirmDeleteResult(event)">삭제</a>
              </div>
              <%}}%>
                <hr>

        </div>

        <%}%>
    </div>
</body>

</html>