<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalpostAgain</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet">
    <link href="/notice.css" rel="stylesheet">
    <link href="/notice-detail.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="/main.js"></script>

</head>

<body>
    <%- include('nav.ejs') %>
        <div class="notice-title">공지사항</div>

        <div class="white-main">
            <div class="detail-bg">
                <h4 class="detail-title">
                    <%= 글.title%>
                </h4>
                <hr>
                <span><%=글.username%></span>
                <span><%=글.today%></span>
                <div style="margin: 20px auto 10px auto;">
                    <img class="detail-img" src="<%= 글.img%>">
                    <pre class="detail-content"><%= 글.content%></pre>
                </div>
                <% if (유저.username == 글.username) {%>
                <div style="text-align: right; font-size: 14px;">
                    <a onclick="confirmDelete()" href="/notice-edit/<%= 글._id%>">수정</a>
                    <a href="/notice-delete/<%= 글._id%>">삭제</a>
                </div>
                <%}%>

                <hr>
                <form action="/comment" method="POST">
                    <div class="flex-row">
                    <input name="content" class="comment-input" type="text">
                    <input name="parentId" value="<%= 글._id %>" style="display: none">
                    <button type="submit" class="comment-button" style="margin-left: 1%;">댓글작성</button>
                </div>
                </form>
                <hr>
                <% for (let i=0; i<댓글.length; i++) {%>
                <div style="display: flex; align-items: baseline;">
                    <p style="margin-right: 5px;"><strong>
                            <%= 댓글[i].writer%>
                        </strong>

                    </p>
                    <%= 댓글[i].content%>
                </div>
                <%}%>



                <div class="flex-row">
                    <button class="detail-bt" onclick="gotoNotice()">글목록</button>
                </div>
            </div>
        </div>
</body>

</html>