<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light only" />
    <meta name="supported-color-schemes" content="light" />
    <title>오늘도골대FC</title>
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
    <link rel="icon" type="image/png" sizes="192x192"
        href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
    <link rel="icon" type="image/png" sizes="512x512"
        href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet">
    <link href="/photo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR:wght@200;300;400;500;600&display=swap"
        rel="stylesheet">
    <script src="/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var myCarousel = new bootstrap.Carousel(document.querySelector('#carouselExampleIndicators'), {
                interval: false, // 자동 슬라이드 비활성화
                touch: true // 터치로 스와이프 활성화
            });
        });

        function openInputComment() {
            var expanded = document.getElementById("story-photo-add-comment-input-area0")

            if (expanded.style.display === "none") {
                expanded.style.display = "block";
            } else {
                expanded.style.display = "none"
            }

        }

        function gotoPhoto() {
            window.location.href = '/photo'
        }

        
        function confirmDeletePhoto(event) {
            event.preventDefault();

            var commentId = event.target.getAttribute('data-photo-id');
            var confirmDelete = confirm('글을 삭제하시겠습니까?');

            if (confirmDelete) {
                window.location.href = '/photo-delete/' + commentId; // 혹은 fetch 등의 비동기 처리
            }
        }

        function confirmDeletePhotoComment(event) {
            event.preventDefault();

            var commentId = event.target.getAttribute('data-comment-id');
            var confirmDelete = confirm('댓글을 삭제하시겠습니까?');

            if (confirmDelete) {
                window.location.href = '/photo-comment-delete/' + commentId; // 혹은 fetch 등의 비동기 처리
            }
        }

        
    </script>



</head>

<body>
    <%- include('nav.ejs') %>

        <div class="story-main">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://bigstarhan33.s3.ap-northeast-2.amazonaws.com/1706435134571" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <div class="story-bt-area">
                <div onclick="gotoPhoto()" class="story-photo-bt">PHOTO</div>
                <div class="story-video-bt">VIDEO</div>
            </div>
            <div class="story-photo-post"><a href="/photo-post">작성하기</a></div>
            <hr>

            <%for (i=0; i<포토.length; i++) {%>

                <div class="story-photo-area">
                    <div class="story-photo-info-area">
                        <div class="story-photo-info">
                            <%=포토[i].time%>
                                <%=포토[i].username%>
                        </div>
                        <% if (유저==포토[i].username || 유저=='관리자' ) {%>
                        <div class="story-photo-edit">
                            <div style="margin-right: 5px; cursor: pointer;">수정</div>
                            <a href="#" data-photo-id="<%= 포토[i]._id%>"
                                onclick="confirmDeletePhoto(event)">삭제</a>
                        </div>
                        <%}%>
                    </div>
                    <div id="carouselExampleIndicators<%=i%>" class="carousel slide">
                        <% if (포토[i].img[1] != undefined ) {%>
                        <div class="carousel-indicators"> 
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <%for (j=1; j<포토[i].img.length; j++) {%>
                                <button type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="<%=j%>" aria-label="Slide <%=(j+1)%>"></button>
                                <%}%>
                        </div>
                        <%}%>
                        <div class="carousel-container">
                            <div class="carousel-inner">
                                <% if (포토[i].img[1] === undefined ) {%>
                                    <div class="carousel-item active">
                                        <img class="carousel-img d-block" src="<%= 포토[i].img[0].location%>" alt="...">
                                    </div>
                                    <%} else {%>
                                        <div class="carousel-item active">
                                            <img class="carousel-img d-block" src="<%= 포토[i].img[0].location%>" alt="...">
                                        </div>
                                        <%for (k=1; k<포토[i].img.length; k++) {%>
                                            <div class="carousel-item">
                                                <img class="carousel-img d-block" src="<%= 포토[i].img[k].location%>" alt="...">
                                            </div>
                                            <%}%>
                                                <%}%>
                            </div>
                        </div>
                        <% if (포토[i].img[1] != undefined ) {%>

                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleIndicators<%=i%>" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleIndicators<%=i%>" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                        <%}%>
                    </div>
                    <div style="text-align: left;">
                        <div class="story-photo-content">

                            <p class="story-photo-content-writer">
                                <strong>
                                    <%=포토[i].username%>
                                </strong>
                            </p>
                            <span class="story-photo-content-text">
                                <%=포토[i].content%>
                            </span>

                        </div>
                        <div onclick="openInputComment()" class="story-photo-add-comment">
                            댓글달기...
                        </div>
                        <form action="/photo-comment" method="POST">
                            <input name="parentId" value="<%= 포토[i]._id%>" style="display: none;">

                            <div id="story-photo-add-comment-input-area0" style="display: none;">
                                <div id="story-photo-add-comment-input-area" class="story-photo-add-comment-input-area">
                                    <input name="content" class="story-photo-add-comment-input" type="text"
                                        autocomplete="off">
                                    <button type="submit" class="story-photo-add-comment-inputBt">게시</button>
                                </div>
                            </div>
                        </form>
                        <% if (typeof 포토[i].comments !=='undefined' ) {%>
                            <% for (let comment of 포토[i].comments) { %>
                                <div style="display: flex; align-items: baseline;">
                                    <div class="story-photo-comment-writer">
                                        <strong>
                                            <%=comment.writer%>
                                        </strong>
                                    </div>
                                    <span class="story-photo-comment-text">
                                        <%=comment.content%>
                                    </span>
                                    <% if (유저==comment.writer || 유저=='관리자' ) {%>
                                        <a href="#" class="story-photo-comment-deleteBt" data-comment-id="<%= comment._id%>"
                                            onclick="confirmDeletePhotoComment(event)">X</a>
                                    
                                    <%}%>
                                </div>
                                <% } %>
                                    <% } %>


                                        <!-- <div class="story-photo-add-comment">
                            댓글 모두보기
                        </div> -->

                                        <hr>
                                        <%}%>
                    </div>
                </div>





        </div>
</body>

</html>